*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(71, 64, 63);
}
#wrapper{
    background-color: white;
    width: 970px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 5px 5px 6px black;
    border: 1px solid rgb(196, 193, 193);
}

.reg_log{
    width: 400px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
a{
    text-decoration: none;
    color: orangered;
    
}
a:hover{
    color: rgb(250, 187, 100);
}
table {
    border-collapse: collapse;
    width: 60%;
}
td {
    width: 40%;
}
th{
    background-color: rgb(255, 178, 152);
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}