<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <!-- In this context '~' refers to the wwwroot folder -->
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <h1>Kevin Dunn</h1>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
    <div id="wrapper">
        <h3>About Me: </h3>
        <img id="me" src="~/images/Kevin-02.jpg" alt="Kevin seen setting up a telleprompter.">
        <p id="about">I am 39 years old.  Born and raised in Connecticut.  I have stayed in middle Tennessee since graduating from Middle Tennessee State University 
        in 2003, where I studied electronic media production. I worked in video and event production in Nashville. I have been involed in everything 
        from corperate video shoots, to live music and performances.  In 2010 we had a large flood, and most local event production came to a near stand still in Nashville. 
        So I made a a career change, and for more than 7 years I have worked for the 
        Nashville Office of Emergency Management. Durring this time, I have also worked hard towards becoming a professional Software and Web Developer.  
        I am now married and have 2 girls. The oldest will be 3, and the youngest will be 1 in January.
        Over the years I have gained experience working with web design for various projects, and have moved towards working full time as a Software and Web 
        Developer.</p>
        
    </div>
</body>
</html>