<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio - projects</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
    <h1>Projects Page</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        
    </ul>
    <div id="wrapper">

        <div class="projects">
            <h3>Web: </h3>
            <img class="display" src="~/images/TheInternet.jpg" alt="image of webpage I created for Web Fundamentals" style="width: 380px; margin-left: 45px;">
            <p>I can create websites for whatever your need may be, from small business to large Corporate entity. I will build your site from the ground up, 
                using HTML, CSS and Javascript. For larger entities, I can create the back end for your site using the technologies of Python
                and or the C# frameworks. Do you have web forms and need to store data or user information? I can also incorporate SQL into your site if a Database is required. </p>
        </div>
        <div class="projects">
            <h3>Photo and Graphics: </h3>
            <img class="display" src="~/images/xmascard.png" alt="Christmas card, decorating the tree" style="width: 460px; margin-left: 12px;">
            <p>I have used Adobe Photoshop and Illustrator to handle everything from graphics for web, video, and print, as well as photo restorations and image manipulation. 
                I can help select fonts and color schemes, or create and edit any images needed, all to help build your brand.  </p>
        </div>
        <div class="projects">
            <h3>Video: </h3>
            <img class="display" src="~/images/Kevin-03.jpg" alt="Me at a VBS shoot." style="width: 380px; margin-left: 45px;">
            <p>I have used Adobe Premiere for a variety of projects, such as commercials, web packages, and events. I also use 
                Adobe After Effects as needed for animated graphics such as intros, bumpers and DVD menues.   </p>
            
        </div>

    </div>
</body>
</html>